@import "@zeno-lib/ui/styles/globals.css";
@import "./theme.css";
@import "fumadocs-ui/css/preset.css";

#nd-nav {
  position: fixed;
  right: 0;
  left: 0;
}

#nd-page {
  @apply md:mt-20;
}

#nd-sidebar {
  padding-top: calc((1 - var(--nd-nav-hide-progress, 0)) * 90px);
}

#nd-toc {
  padding-top: calc(
    ((1 - var(--nd-nav-hide-progress, 0)) * 90px) +
    (var(--spacing) * 12)
  );
}

#nd-sidebar > div:first-child > div.flex {
  opacity: var(--nd-nav-hide-progress, 0);
}

#nd-sidebar > div:first-child > button[data-state] {
  display: none;
}
